<header class="flex justify-between items-center mb-2">

    <div class="ml-8 mt-4 w-1/4 flex items-center">
        <a href="/"><i class="fas fa-home text-white"></i></a>
    </div>

    <div class="mt-4 mb-4 flex justify-center w-1/2">
        <h1 class="text-white drop-shadow-sm text-4xl font-heading text-drop-shadow">{{ site_name }}</h1>
    </div>

    <div id="controls" class="mr-8 w-1/4 flex justify-end items-center">

    {% if show_controls %}

        <button onclick="toggleSlideshow()" class="text-white mr-4">
            <i class="fas fa-play" id="playIcon"></i>
            <i class="fas fa-pause hidden" id="pauseIcon"></i>
        </button>

        <input type="range" id="slideshowSpeed" min="1" max="10" value="5" class="ml-4 mx-4" title="Slideshow speed (1s to 10s)">
        <label for="slideshowSpeed" class="text-white"> <span id="speedValue">5</span>s</label>
    
        <a href="/download" class="text-white ml-4 px-4 py-2 hover:bg-blue-700 rounded" title="Download Images">
            <i class="fas fa-download"></i>
        </a>

    {% endif %}

    </div>

</header>
