stages:
- build
- scan
- deploy

# ------------- Variables ------------- #

variables:
  BUCKET_NAME: alexos-photos
  DATA_PROJECT_ID: $MW_PROJECT_ID

# ------------- Templates ------------- #

include:
  - component: gitlab.com/alexos-dev/gitlab-ci-components/buildkit@~latest
    inputs:
      job-stage: build
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/photo-album
      dockerfile: Dockerfile
  - component: gitlab.com/alexos-dev/gitlab-ci-components/security-scan@~latest
    inputs:
      job-stage: scan
      job-needs: ["buildkit-build-app"]
      image-names: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/photo-album
      dockerfiles: Dockerfile
      language-scan: "true"
  - component: gitlab.com/alexos-dev/gitlab-ci-components/deploy-k8s@~latest
    inputs:
      job-stage: deploy
      job-needs: ["buildkit-build-app"]
      app-name: photo-album
      namespace: photo-album
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/photo-album
      manifest-dir: k8s
      env-sub: '"\$DATA_PROJECT_ID \$BUCKET_NAME"'
