stages:
- release
- scan

variables:
  IMAGE_NAME: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/photo-album
  NAMESPACE: photo-album
  BUCKET_NAME: alexos-photos
  DATA_PROJECT_ID: $MW_PROJECT_ID

# to validate renovations
test-only:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli test --include-coverage
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    reports:
      junit: ./*_out_report.xml

test-build-deploy:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli test --include-coverage
    - alexos-cli build --image-name=$IMAGE_NAME --gcr-login --dockerfile=Dockerfile
    - alexos-cli deploy kubernetes --image-name=$IMAGE_NAME --namespace=$NAMESPACE --envvars=DATA_PROJECT_ID,BUCKET_NAME
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    reports:
      junit: ./*_out_report.xml

security-scan:
  stage: scan
  needs:
    - test-build-deploy
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli scan code
    - alexos-cli scan secrets
    - alexos-cli scan container --image-name=$IMAGE_NAME
    - alexos-cli scan iac
  allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - "*-report.json"
    access: developer
    expire_in: "1 day"
