<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="description" content="{{ page_description }}"/>

  <title>{{ page_title }}</title>

  <meta property="og:site_name" content="{{ site_name }}"/>
  <meta property="og:type" content="{{ page_description }}"/>
  <meta property="og:title" content="{{ page_title }}"/>
  <meta property="og:description"  content="{{ page_description }}"/>
  <meta property="og:url" content="{{ domain }}"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png'">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/favicon/site.webmanifest">

  <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/slideshow.css" type="text/css" />
  
  <link href="/static/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/fontawesome.brands.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/fontawesome.regular.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/fontawesome.solid.min.css" rel="stylesheet" type="text/css" />

  <script src="/static/js/htmx.min.js"></script>

  <script defer src="https://visits.alexos.dev/alexos" data-website-id="65e2b35c-36f9-45d2-a9fb-5dc430399262"></script>

</head>

<body class="bg-black">

    {% block header %}
    {% include "/shared/_header.html" %}
    {% endblock %}

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    {% include "/shared/_footer.html" %}
    {% endblock %}

    <script type="text/javascript">
    (() => {
      const name = 'outbound-link-click';
      document.querySelectorAll('a').forEach(a => {
        if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
          a.setAttribute('data-umami-event', name);
          a.setAttribute('data-umami-event-url', a.href);
        }
      });
    })();
  </script>

</body>

</html>
