{% extends "/shared/_base.html" %}

{% block content %}

<style>
    /* Custom CSS for precise 90% viewport width and height */
    .custom-viewport-size {
        width: 89vw;
        height: 89vh;
    }

    .hidden {
        display: none;
    }
</style>

<section id="body" class="flex justify-center items-center">

    <div id="main" class="flex justify-center items-center w-full relative">

        <div class="flex flex-col items-center w-full">

            <div hx-get="/photo-albums/{{album}}" hx-trigger="load" class="flex flex-col justify-center items-center text-white">
                <img class="htmx-indicator mb-8" alt="Please wait - downloading. This may take a minute ..." width="150" src="/static/img/bars.svg"/>
                <p>Please wait - downloading photos for album "{{ album }}". This may take a minute ...</p>
            </div>

        </div>

    </div>

</section>

{% endblock %}
