{% block content %}

            <div id="slideshow-container" class="slideshow-container custom-viewport-size mx-auto relative">
                {% for image in images %}
                <div id="slides" class="slides fade flex justify-center items-center w-full h-full">
                    <div class="numbertext font-heading text-xl absolute top-0 left-0">{{ loop.index }} / {{ images|length }}</div>
                    <img src="/photos/{{ image }}" alt="Image {{ loop.index }}"
                        class="max-w-full max-h-full object-contain">
                    <div class="caption text-right absolute top-0 right-0 font-heading text-xl">{{ image.split('/')[-1].split('.')[0] | strftime('%d/%m/%Y') }}</div>
                </div>
                {% endfor %}

                <!-- Next and previous buttons -->
                <a class="prev absolute top-1/2 -translate-y-1/2 left-0 cursor-pointer text-4xl p-4"
                    onclick="changeSlide(-1); stopAutoSlide();">&#10094;</a>
                <a class="next absolute top-1/2 -translate-y-1/2 right-0 cursor-pointer text-4xl p-4"
                    onclick="changeSlide(1); stopAutoSlide();">&#10095;</a>
            </div>
            
    <script>

        let slideIndex = 0; // Start with the first slide
        let slides = document.getElementsByClassName("slides");
        let slideTimeout;
        let isPlaying = true;

        function showSlide(n) {
            let slides = document.getElementsByClassName("slides");
            if (n >= slides.length) { slideIndex = 0; }
            if (n < 0) { slideIndex = slides.length - 1; }
            for (let slide of slides) {
                slide.classList.add("hidden");
            }
            slides[slideIndex].classList.remove("hidden");
            updateIcons();
        }

        function toggleSlideshow() {
            isPlaying = !isPlaying;
            if (isPlaying) {
                showNextSlide();
            } else {
                clearTimeout(slideTimeout);
            }
            updateIcons();
        }

        function updateIcons() {
            let playIcon = document.getElementById("playIcon");
            let pauseIcon = document.getElementById("pauseIcon");
            if (isPlaying) {
                playIcon.classList.add("hidden");
                pauseIcon.classList.remove("hidden");
            } else {
                playIcon.classList.remove("hidden");
                pauseIcon.classList.add("hidden");
            }
        }

        function showNextSlide() {
            // Logic to show the next slide and reset the timeout
            showSlide(slideIndex += 1);
            if (isPlaying) {
                const speed = document.getElementById('slideshowSpeed').value;
                clearTimeout(slideTimeout);
                slideTimeout = setTimeout(showNextSlide, speed * 1000); // Adjust time as needed
            }
        }

        // When prev/next buttons are clicked
        function changeSlide(n) {
            slideIndex += n;
            if (slideIndex >= slides.length) { slideIndex = 0; }
            if (slideIndex < 0) { slideIndex = slides.length - 1; }
            showSlide(slideIndex);
            // Reset the timer
            clearTimeout(slideTimeout);
            const speed = document.getElementById('slideshowSpeed').value;
            slideTimeout = setTimeout(showNextSlide, speed * 1000);
        }

        function stopAutoSlide() {
            toggleSlideshow();
        }

        function resumeSlideshow() {
            clearTimeout(slideTimeout); // Clear any existing timeout to avoid multiple instances
            const speed = document.getElementById('slideshowSpeed').value;
            slideTimeout = setTimeout(showNextSlide, speed * 1000); // Restart the slideshow
        }

        // Update speed display when slider value changes
        document.getElementById('slideshowSpeed').addEventListener('input', function() {
            document.getElementById('speedValue').textContent = this.value;
        });

        // Initialize the slideshow        
        showSlide(slideIndex);
        if (isPlaying) {
            resumeSlideshow();
        }
        updateIcons();

    </script>

{% endblock %}
