{% extends "/shared/_base.html" %}

{% block content %}

<section id="body" class="flex justify-center items-center h-screen">
    <div id="main" class="flex justify-center items-center w-full h-full relative">

        <div class="flex flex-col items-center w-full h-full text-white mt-16">

            {% if email %}
            <div class="flex mt-8">
                <p>Welcome back {{ email }}. <a class="underline" href="/logout">Logout</a></p>
            </div>
            {% else %}
            <div class="flex mt-8">
                <p>Please log in to view photos. <a class="underline" href="/login">Log In</a></p>
            </div>
            {% endif %}

            <div class="flex mt-8">
                <ul>
                    <li class="mb-4"><a class="underline" href="/daisy">Daisy's 40th - Photos</a></li>
                    <li class="mb-4"><a class="underline" href="/videos/daisy">Daisy's 40th - Videos</a></li>
                </ul>                
            </div>


        </div>

    </div>

</section>

{% endblock %}
