{% extends "/shared/_base.html" %}

{% block content %}
<style>
    /* Custom CSS for precise 90% viewport width and height */
    .custom-viewport-size {
        width: 90vw;
        height: 90vh;
    }

    .hidden {
        display: none;
    }
</style>

<section id="body" class="flex justify-center items-center h-screen">
    <div id="main" class="flex justify-center items-center w-full h-full relative">

        <div class="flex flex-col items-center w-full h-full text-white mt-16">
            <p>Hmm, photos you're after eh?</p>
            <div class="flex mt-8">
                <a class="underline" href="/daisy">Try here</a>
            </div>
        </div>

    </div>

</section>
{% endblock %}
