{% block content %}

            <div id="slideshow-container" class="slideshow-container custom-viewport-size mx-auto relative">

                {% for video in videos %}
                <div id="slides" class="slides fade flex justify-center items-center w-full h-full">
                    <div class="numbertext font-heading text-xl absolute top-0 left-0">{{ loop.index }} / {{ videos|length }}</div>

                    <video src="/static/img/bars.svg" alt="Image {{ loop.index }}" autoplay controls class="max-w-full max-h-full object-contain lazyload" data-src="/assets/{{ video }}">
                        Your browser does not support the video tag.
                    </video>

                    <div class="caption text-right absolute top-0 right-0 font-heading text-xl">{{ video.split('/')[-1].split('.')[0] | strftime('%d/%m/%Y') }}</div>
                </div>
                {% endfor %}

                <!-- Next and previous buttons -->
                <a class="prev absolute top-1/2 -translate-y-1/2 left-0 cursor-pointer text-4xl p-4" onclick="changingSlide(-1);">&#10094;</a>
                <a class="next absolute top-1/2 -translate-y-1/2 right-0 cursor-pointer text-4xl p-4" onclick="changingSlide(1);">&#10095;</a>

            </div>
            
    <script>

        let slideIndex = 0;
        let slides = document.getElementsByClassName("slides");
        let slideTimeout;

        function showSlide(n) {
            
            let slides = document.getElementsByClassName("slides");
            if (n >= slides.length) { slideIndex = 0; }
            if (n < 0) { slideIndex = slides.length - 1; }
            for (let slide of slides) {
                slide.classList.add("hidden");
                const video = slide.querySelector('video');
                if (video) {
                    video.pause();
                }
            }
            slides[slideIndex].classList.remove("hidden");
        }

        function showNextSlide() {
            showSlide(slideIndex += 1);
        }

        // When prev/next buttons are clicked, move forward or back by one
        function changingSlide(n) {
            slideIndex += n;
            if (slideIndex >= slides.length) { slideIndex = 0; }
            if (slideIndex < 0) { slideIndex = slides.length - 1; }
            showSlide(slideIndex);
        }

        // Initialize the slideshow        
        showSlide(slideIndex);

        // Add event listener for arrow keys
        document.addEventListener('keydown', function(event) {
            if (event.key === 'ArrowLeft') {
                changingSlide(-1);
            } else if ((event.key === 'ArrowRight') || (event.key === ' ')) {
                changingSlide(1);
            }
        });

        // Lazy loading implementation
        const lazyloadImages = document.querySelectorAll(".lazyload");
        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    const lazyImage = entry.target;
                    lazyImage.src = lazyImage.dataset.src;
                    lazyImage.classList.remove("lazyload");
                    observer.unobserve(lazyImage);
                }
            });
        });

        lazyloadImages.forEach((image) => {
            observer.observe(image);
        });

    </script>

{% endblock %}
